<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/static/css/base.css" />
    <title>Go: {% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="header">
      <div id="linkbar">
        {% if user.nickname %}
          {{ user.nickname }} | 
          {% block action_link %}<a href="/manage">Manage Trips</a>{% endblock %} |
        {% endif %}
        <a href="{{ log_url }}">{{ log_url_linktext }}</a>
      </div>
      <div id="logo">Go!</div>
    </div>
    <div id="body">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>